:root {
  --color-primary: #f1cdb3;
}

.main {
  background-image: url(../../Assets/main-background.png);
  position: relative;
  width: 1280px;
  height: 3796px;
  margin: auto;
}

.logo h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  padding-bottom: 10px;
}
.logo h4 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.logo:hover {
  cursor: pointer;
}

header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-menu ul li {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  padding-right: 35px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: inherit;
}

.nav-menu ul li :hover {
  cursor: pointer;
}

.about-nav-second:hover {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 3px;
  color: white;
}

.nav-menu ul {
  display: flex;
  position: absolute;
  width: 480px;
  height: 26px;
  left: 795px;
  top: 77px;
}
.about {
  position: absolute;
  height: 588px;
  left: 0%;
  right: 0%;
  top: 908px;
  background: #ffffff;
}

.nav-menu {
  display: flex;
}

.about-nav {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 3px;
}

.start-screen {
  position: absolute;
  width: 1200px;
  height: 728px;
  left: 40px;
  top: 180px;
}

.start-screen-content {
  position: absolute;
  width: 460px;
  height: 322px;
  left: 0px;
  top: 163px;
}

.start-screen-heading {
  position: absolute;
  width: 310px;
  height: 114px;
  left: calc(50% - 310px / 2 - 75px);
  bottom: 208px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.start-screen-subheading {
  position: absolute;
  width: 460px;
  height: 72px;
  left: calc(50% - 460px / 2);
  bottom: 94px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #cdcdcd;
}

.start-screen-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 207px;
  height: 52px;
  left: calc(50% - 207px / 2 - 126.5px);
  bottom: 0px;
  background: #f1cdb3;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
}

.start-screen-button:hover {
  cursor: pointer;
  background: #ec9e66;
}

.start-screen-button p {
  position: static;
  left: 21.74%;
  right: 21.74%;
  top: 28.85%;
  bottom: 28.85%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 14px 0px;
}
.start-screen-puppy {
  position: absolute;
  width: 698px;
  height: 728px;
  left: calc(50% - 698px / 2 + 251px);
  bottom: 0px;
  background: url(../../Assets/main-dog.png);
}

.about-content {
  position: absolute;
  width: 1200px;
  height: 408px;
  left: calc(50% - 1200px / 2);
  top: calc(50% - 408px / 2 - 10px);
}

.about-pets {
  position: absolute;
  width: 300px;
  height: 408px;
  left: 175px;
  top: 0px;
  background: url(../../Assets/about-pets.png);
}

.about-content-text {
  position: absolute;
  width: 430px;
  height: 380px;
  left: 595px;
  top: 14px;
}

.about-content-head {
  position: absolute;
  width: 370px;
  height: 90px;
  left: 0px;
  top: 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-content-firstSubhead {
  position: absolute;
  width: 430px;
  height: 96px;
  left: 0px;
  top: 115px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4c4c4c;
}

.about-content-secondSubhead {
  position: absolute;
  width: 430px;
  height: 144px;
  left: 0px;
  top: 236px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #4c4c4c;
}

.pets {
  position: absolute;
  height: 877px;
  left: 0%;
  right: 0%;
  top: 1496px;
  background: #f6f6f6;
}

.pets-content {
  position: absolute;
  width: 1200px;
  height: 697px;
  left: calc(50% - 1200px / 2);
  top: 80px;
}

.pets-heading {
  position: absolute;
  width: 400px;
  height: 90px;
  left: 400px;
  top: 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets-slider {
  position: absolute;
  display: flex;
  width: 1200px;
  height: 435px;
  left: 0px;
  top: 150px;
}

.pets-slider-left {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 19px;
  position: absolute;
  width: 52px;
  height: 52px;
  left: 0px;
  top: 192px;
}

.pets-slider-left:hover {
  background-color: #ec9e66;
  cursor: pointer;
}

.pets-cards1 {
  position: relative;
  width: 270px;
  height: 435px;
  left: 105px;
  top: 0px;

  background: #fafafa;
  border-radius: 9px;
}

.pets-cards2 {
  position: absolute;
  width: 270px;
  height: 435px;
  left: 465px;
  top: 0px;

  /* color-light-s */

  background: #fafafa;
  border-radius: 9px;
}

.pets-cards3 {
  position: absolute;
  left: 68.75%;
  right: 8.75%;
  top: 0%;
  bottom: 0%;

  /* color-light-s */

  background: #fafafa;
  border-radius: 9px;
}

.pets-slider-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 19px;

  position: absolute;
  width: 52px;
  height: 52px;
  left: 1146px;
  top: 191px;

  /* color-primary */

  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
}

.pets-slider-right:hover {
  background-color: #ec9e66;
  cursor: pointer;
}

.pets-name {
  position: absolute;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 83px;
  height: 23px;
  left: 97px;
  top: 300px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color-dark-l */

  color: #545454;
}

.pets-button {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  position: relative;
  top: 81px;
  left: 39px;
}

.pets-button:hover {
  background-color: #ec9e66;
  cursor: pointer;
}

.pets-button p {
  position: absolute;
  left: 24.06%;
  right: 7.06%;
  top: 28.85%;
  bottom: 1.85%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 10%;
  letter-spacing: 0.06em;
  color: #292929;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.pets-button-primary {
  position: absolute;
  width: 261px;
  height: 52px;
  left: 470px;
  top: 645px;
  background: #f1cdb3;
  border-radius: 100px;
  text-decoration: none;
}

.pets-button-primary:hover {
  background-color: #ec9e66;
  cursor: pointer;
}

.pets-button-primary p {
  position: absolute;
  left: 44px;
  top: 5px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;

  /* color-dark-3xl */

  color: #292929;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 10px 0px;
}

.pets-card-img:hover {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.5);
}

.help {
  position: absolute;
  height: 611px;
  left: 0%;
  right: 0%;
  top: 2373px;
  background: #ffffff;
}

.help-content {
  position: absolute;
  width: 1200px;
  height: 431px;
  left: calc(50% - 1200px / 2);
  top: 80px;
}

.help-content-header {
  position: absolute;
  width: 308px;
  height: 90px;
  left: 446px;
  top: 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help-list {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.help-list-item {
  width: 11%;
  margin: 48px 52px;
}

.help-list-item p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  white-space: nowrap;
}

.help-list-item img {
  padding-bottom: 30px;
}
.donation {
  position: absolute;
  width: 1280px;
  margin: 0 auto;
  height: 462px;
  left: 0%;
  right: 0%;
  top: 2984px;
  background: #f6f6f6;
}

.donation-content {
  position: absolute;
  width: 915px;
  height: 282px;
  left: calc(50% - 915px / 2 + 0.5px);
  top: 80px;
}

.donation-dog {
  position: absolute;
  width: 505px;
  height: 261px;
  left: 0px;
  top: 11px;
  background: url(../../Assets/dontation-puppy.png);
}

.donation-text {
  position: absolute;
  width: 380px;
  height: 282px;
  left: 535px;
  top: 0px;
}

.donation-text h3 {
  position: absolute;
  width: 300px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  margin: auto;
  color: #545454;
}

.donation-text-header {
  position: absolute;
  width: 307px;
  height: 17px;
  left: 0px;
  top: 110px;
  white-space: nowrap;
  margin: auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-text-main {
  position: absolute;
  width: 380px;
  height: 72px;
  left: 0px;
  top: 210px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
}

.credit-card {
  align-items: center;
  position: absolute;
  width: 349px;
  height: 43px;
  top: 147px;
  margin: 0 auto;
  background: #f1cdb3;
  border-radius: 9px;
}

.credit-card img {
  position: absolute;
  width: 30px;
  height: 23px;
  left: 15px;
  top: 10px;
}

.credit-card-number {
  position: absolute;
  width: 274px;
  height: 23px;
  left: 60px;
  top: 10px;
  white-space: nowrap;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

footer {
  position: absolute;
  height: 350px;
  left: 0%;
  right: 0%;
  top: 3446px;
  background: url(../../Assets/footer-background.png);
}

.footer-content {
  position: absolute;
  width: 1200px;
  height: 310px;
  left: 40px;
  top: 40px;
}

.footer-cotacts {
  position: absolute;
  width: 278px;
  height: 234px;
  left: 0px;
  top: 16px;
}

.footer-cotacts .heading {
  width: 280px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-bottom: 40px;
}

.footer-contacts-mail .mail-text {
  width: 191px;
  height: 23px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 21px;
  padding-top: 4px;
}

.footer-contacts-mail {
  display: flex;
  padding-bottom: 40px;
}

.footer-contacts-phone .phone-text {
  width: 182px;
  height: 23px;
  padding-left: 21px;
  padding-top: 6px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer-contacts-phone {
  display: flex;
}

.footer-locations {
  position: absolute;
  width: 302px;
  height: 234px;
  left: 438px;
  top: 16px;
}

.footer-locations .heading {
  width: 270px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 35px;
}

.footer-locations .location-text {
  width: 260px;
  height: 46px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-left: 20px;
}

.footer-locations-pin {
  display: flex;
  margin-bottom: 24px;
}

#location-text-bottom {
  line-height: 47px;
}

.footer-puppy {
  position: absolute;
  width: 300px;
  height: 310px;
  left: calc(50% - 300px / 2 + 450px);
  top: 0px;
  background: url(../../Assets/footer-puppy.png);
}
